.button {
  padding: 5rem 10rem;
  background-color: rgba(209, 213, 219, 1);
  border-radius: var(--rounded-sm);
  font-size: 13rem;
  font-weight: 500;
  transition: all 0.1s linear;
}
.button:hover {
  background-color: rgb(193, 197, 202);
}
