.BG_NANA {
  background-color: rgba(219, 234, 254, 1);
}
.BG_WOOYEON {
  background-color: rgba(237, 233, 254, 1);
}
.BG_SORA {
  background-color: rgba(254, 226, 226, 1);
}
.BG_LUCY {
  background-color: rgba(252, 231, 243, 1);
}
.BG_MINSEO {
  background-color: rgba(209, 250, 229, 1);
}
.BG_MEDIA {
  background-color: rgb(255, 237, 210);
}
.BG_DEFAULT {
  background-color: rgba(229, 231, 235, 1);
}
