@import "./colors.css";
:root {
  --max-width: 600px;
  --height: 100vh;
  --content-gap: 15rem;
  --rounded-default: 10rem;
  --rounded-sm: 5rem;
}

html,
body,
#__next {
  height: var(--height);
}

html {
  font-size: 6.25%;
  font-family: "Noto Sans KR", sans-serif;
  word-break: break-all;
  background-color: rgb(241, 241, 241);
}

@media (max-width: 500px) {
  html {
    font-size: 0.2vw;
  }
}

button {
  cursor: pointer;
  user-select: none;
  border: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

*::-webkit-scrollbar {
  display: none;
}
